@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}


*:focus {
    outline: none;
}

/* --------------------- sec1 ------------------------ */

.sec1{
    min-height: 700px;
    background-color:#94ebcd ;
}

.sec1-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    /* background-color: aliceblue; */
}

.sec1-nav-element{
    font-family: 'Roboto', sans-serif;
    padding: 0 2%;
}
.sec1-nav-button{
    background-color: #ffefa1;
    padding: 10% 30%;
    border-radius: 8px;
}
.sec1-nav-button:hover{
    color: white !important;
}
.sec1-nav-element a{
    text-decoration: none;
    color: black;
    transition: .2s ease-in-out;
    font-size: 16px;
    width: 150px !important;
}
.sec1-nav-element a:hover{
    color: whitesmoke;
}

.sec1-box{
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1-box-left{
    min-width: 300px;
    min-height: 600px;
    /* background: red; */
    display: flex;
    justify-content: flex-start;
    align-items: left;
}
.sec1-box-left-inner{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.sec1-box-left-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1-box-left-top1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: white;
}
.sec1-box-left-top2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: black;
    line-height: 42px;
    padding-left: 4%;
}
.sec1-box-left-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #ffefa1;
    border-radius: 8px;
    cursor: context-menu;
    height: 70px;
    width: 400px;
    font-size: 24px;
    
}
.sec1-box-right{
    min-width: 700px;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background: yellowgreen; */
}

.sec1-box-right img{
    width: 600px;
    height: 600px;
}

/* --------------------- sec2 ------------------------ */

.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #FFCB91;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #FFCB91;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #FFCB91;
    display: block;
    position: relative;
  }
  .wrapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #FFCB91;
  }
  
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #FFCB91;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #FFEFA1;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }